
* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
  
}

#startButton {
    position: relative;
    text-align: center;
    left: 533px;
    top: 50px;
}

#startTitle {
    position: relative;
    text-align: center;
    left: 3px;
    top: 30px;
}

h1 {
position: relative;
text-align: center;
}

#display {
    position: relative;
    text-align: center;
    }

#title {
position: relative;
text-align: center;
}

#quiz {
    position: relative;
    text-align: center;
    }

#image {
    position: relative;
    text-align: center;
    }

#result {
    position: relative;
    text-align: center;
    }

